You already have a {{.ProductName}} account

Hi {{.Name}},

Someone (probably you) just tried to sign up for {{.ProductName}} with this
email address, but you already have an account. There is nothing to set up.

Sign in here:
{{.LoginURL}}

Forgot your password? Reset it here:
{{.ResetURL}}

If you didn't try to sign up, you can safely ignore this email. Nothing has
changed on your account.

- The {{.ProductName}} team
