You have been invited to a client portal

Hi {{.Name}},

{{.InviterName}} has invited you to view your website reports in the
"{{.ClientName}}" portal, managed by {{.AgencyName}}.

Accept to create your account and access your portal:

{{.AcceptURL}}

This link expires in {{.ExpiresHours}} hours and can be used once. If you
were not expecting this, you can ignore this email.

- {{.AgencyName}}
