You've been invited to a site on {{.ProductName}}

Hi {{.Name}},

{{.InviterName}} invited you to collaborate on the site "{{.SiteName}}" in
{{.ProductName}} as {{.Role}}. Accept to create your account and set your own
password:

{{.AcceptURL}}

This link expires in {{.ExpiresHours}} hours and can be used once. If you
weren't expecting this, you can ignore this email.

- The {{.ProductName}} team
